.week-grid {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}

.week-grid div {
    background-color: #f1f1f1;
    color: black;
    border: 1px solid black;
    padding: 10px;
    font-size: 30px;
    text-align: center;
}